
#bug {
    position: absolute;
    width: max(6.7vh, 5vw);
    margin: max(4vh, 3vw);
    top: 0;
    left: 0;
    /* top: max(4vh, 3vw); */
    /* left: max(4vh, 3vw); */
    z-index: 1;
    opacity: 0.6;
}

#bug:hover {
    opacity: 1;
}
